{% extends 'base.html' %}

{% block content %}
  <!--<div class="hero-unit">
    <h1>Welcome to duff.suse.de!</h1>
  </div>-->
  <div class="row">
    <div class="span12">
      <p>Get forwarded to various virtual machines (libvirt domains)</p>
      <table border=1>
        <thead>
          <tr>
            <th>Domain</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody>
          {% for domain in domains %}
          <tr id="domain_{{ domain.id}}">
            <td>{{ domain.name }}</td>
            <td>{{ domain.get_state_display }}</td>
          </tr>
          {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
