{% extends 'base.html' %}
{% load virt_tags %}

{% block title %}Virtual Machines{% endblock %}

{% block content %}
  <p>This server runs a variety of virtual machines, have a look at the provided services:</p>
  <div class="row">
    <div class="span7">
      <h3>Virtual Machines (Domains)</h3>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Domain</th>
            <th>State</th>
            <th>Services</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody>
          {% for domain in domains %}
          <tr id="domain_{{ domain.id}}">
            <td rowspan="2">{{ domain.name }}</td>
            <td rowspan="2"><span class="label label-{{ domain.state|domain_state_color }}">{{ domain.get_state_display }}</span></td>
            <td>serv 1</td>
            <td>Online</td>
          </tr>
          <tr>
            <td>serv 2</td>
            <td>Offline</td>
          </tr>
          {% endfor %}
      </table>
    </div>
    <div class="span5">
      <h3>Virtual Networks</h3>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Network</th>
            <th>Bridge</th>
            <th>Forward Mode</th>
            <th>Active</th>
            <th>Persistent</th>
          </tr>
        </thead>
        <tbody>
          {% for network in networks %}
          <tr>
            <td>{{ network.name }}</td>
            <td>{{ network.bridge_name }}</td>
            <td>{{ network.forward_mode }}</td>
            <td><span class="label label-{{ network.active|network_state_color }}">{{ network.active|yesno|capfirst }}</span></td>
            <td><span class="label label-{{ network.persistent|network_state_color }}">{{ network.persistent|yesno|capfirst }}</span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
